<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>basic_stat_api</title>
    <link rel="stylesheet" href="/default.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <header>
      <h1>Basic Stat Api</h1>
      <p>
        this API is my own 'media' to discover testing, modularity, and brush up on my programming skills. I am not putting too much attention on the math side.
      </p>
      <span>see full code on <a href="https://github.com/nwxxb/basic_stat_api">github</a></span>
    </header>
    <main>
      <section id="demo">
        <form id="demo_form">
          <label>
            Data Payload
            <input type="text" name="data" />
          </label>
          <label>
            Sample Flag
            <input type="checkbox" name="is_sample" />
          </label>
          <input type="submit" value="Submit" />
        </form>
        <div id="demo_results">
          <img id="demo_graph" src="" width="500" height="400"/>
          <ul id="demo_value">
          </ul>
        </div>
      </section>
    </main>
  </body>
  <script src="/index.js"></script>
</html>
