<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>basic_stat_api</title>
    <link rel="stylesheet" href="/sakura.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <form id="demo_form">
      <label>
        Data Payload
        <input type="text" name="data" />
      </label>
      <label>
        Sample Flag
        <input type="checkbox" name="is_sample" />
      </label>
      <input type="submit" value="Submit" />
    </form>
    <section id="demo">
      <img id="demo_graph" src="" width="500" height="400"/>
      <ul id="demo_results">
      </ul>
    </section>
  </body>
  <script src="/index.js"></script>
</html>
